.ul1 {

    list-style-type:upper-latin; /*Listenin tipini belirtebilmek için kullanılır*/
   
}

.ul2 {

    list-style-type:'\2705'; /*Bu şekilde hazır iconları unicode.com dan alabiliriz*/
}

.ol1 {

  
    list-style-position: inside; /*Listenin pozisyonunu belirleyebilmek için kullanılır*/
}

.list {

    list-style-image: url(https://cdn3.iconfinder.com/data/icons/research-element/1000/Search-64.png);
}

/*==============================================================================================================================*/

ul.sayac {

    counter-reset: Sayac1 2; /*Sayac1 adında bir counter var ve 2 den başlasın demektir*/
}

ul.sayac li {

    counter-increment: Sayac1 3;  /*Bununla hangi sayacı (Burada Sayac1) kaçar kaçar arttırmak istiyorsak onu belirleyebiliyoruz*/
}

ul.sayac li::before {   /*Bununla da li lerin öncesine içerik olarak "counter" değeri yazılsın demektir*/

    content: counter(Sayac1) ") "; /*counter fonksiyonu*/
}

/*==============================================================================================================================*/

.articles {

    counter-reset: makale;
}

.articles article {
    counter-increment: makale; /* Bu sekilde counter sonrasinda increment degeri belirlemezsek default olarak 1er 1er arttirir */
}

.articles article h3::before {

    content: counter(makale) ". Makale-->";
}

/*==============================================================================================================================*/

ol {

    list-style-type: none;
    counter-reset: sayac;
}

ol li {
    counter-increment: sayac;
}

ol li::before {

    content: counters(sayac,"/") "- "; /* "counters" !!! sayacı ile maddeleri iç içe sıralandırabiliriz*/
}            /* Burada counters fonksiyonu icindeki karakter madde numaralari arasi, disindaki karakter ise madde no ile madde arasi olur */