body {

    background-color: lime;
    background-image: url(star.png),url(plane.jpg);  /*Sayfaların arka planlarına resim yerleştirmeye yarar*/
}

div {
    
    width: 1000px;
    height: 1000px;
    background-image: url(prototurk.jpg); /*Eğer bir transparan resim kullanılırsa içiçe bindiriebiliriz*/
}