html {
    height: 100%;
}
body {

    background-image: url(prototurk.jpg);

    background-repeat: space ; /*Görselin tekrar ayarlarını ayarlayabilmek için kullanılır*/
                     /* no-repeat: Tekrar etme demek*/
                     /* repeat-x: Görsel sadece yatay eksende tekar eder*/
                     /* no-repeat: Görsel sadece dikey eksende tekar eder*/
                     /* repeat: Varsayılan değerdir. Görsel hem yatay hem de dikey eksende hareket eder*/
                     /* no-repeat: Tekrar etme demek*/

}