.input1:enabled {   /*input lardan enabled olanların (not disabled) arka plan rengini sarı yap demektir*/

    background-color: yellow;
}

.input1:disabled {   /*input lardan disabled olanların arka plan rengini kırmızı yap demektir*/

    background-color: red;
}

.input2:optional {   /*input lardan optional olanların (not required) arka plan rengini yeşil yap demektir*/
/* .input2:not([required]) (Bu şekilde de yazılabilirdi*/ 

    background-color: green;
}
 
.input2:required {   /*input lardan required olanların arka plan rengini mor yap demektir*/

    background-color: purple;
}

.input3:read-only {   /*input lardan read-only olanların arka plan rengini mor yap demektir*/

    background-color:gray;   
}

.input3:read-write {   /*input lardan read-write (not read-only) olanların arka plan rengini mor yap demektir*/

    background-color: hotpink;
}

p:read-write {

    background-color: yellow;
}

p:read-only {

    background-color: gray;
}