abbr[title] {  /*abbr etiketlerinde niteliğinde title olanların renklerini yeşil yap demektir*/

    color: green;

}

img[alt] {

    background-color: red; /*img etiketlerinde niteliğinde alt olanların arka plan rengini kırmızı yapmaya yarar.*/
}

img[height] {

    background-color: blue; /*img etikelterinde niteliğinde height olanların arka plan rengini mavi yapar*/
}