body {
    height: 4000px;
    margin: 0;
}


.test {
    position: absolute; /*Sayfada yer kaplamaz artık etiket, diğer elemanlar üstüne binebilir*/
                        /*Ayrıca artık bu elemanı sayfa içerisinde istediğimiz yere taşıyabiliriz*/
                        /*static Bütün elemanlar varsayılan olarak statiktir*/
    top: 30px;
    left: 300px;
}



.container {

    width: 500px;
    height: 500px;
    background-color: #ccc;
    position: relative; /*Esas div e bunu yazmazsak içindeki div ler dışarı kaçabilir*/

}

.container div {
    width: 100px;
    height: 100px;
}

.container div:nth-child(1) {

    background-color: lime;
    position: relative; /*Etiketi konumlandırır ve hala yer kaplar,sırasına göre işlem yapar*/
    z-index: 1; /*İlk önce en önde bunu göster demektir*/
   
    
}

.container div:nth-child(2) {

    background-color: red;
    position: absolute;
    top: 100px;
    right: 50px;
}

.container div:nth-child(3) {

    background-color:yellow;
    position: relative;
    top: 100px;
   
    
}

a.up {
    position: fixed; /*Etiketin sayfanın istenilen kısmında sabit kalmasını sağlar*/
    bottom: 20px;
    right: 20px;
}

/* .page {
    overflow: auto; Bu yazılırsa aşağıdaki sticky kullanımı çalışmaz
} */

.page h3 {
  
    font: bold 40px Arial;
    background-color: turquoise;
    color: #fff;
    padding: 20px;
    margin: 0;
    position: sticky; /*Sayfanın üstünde scroll yaparken yazının daima görünmesini sağlar*/
    top: 0; /*sticky özelliğini kullanırken daima top değeri belirlenmelidir*/
}

.page .text { /*Başlıklardan sonra 800 px lik boşluklar bıraktık*/
    height: 800px;
}

.test1 {

    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #ddd;
    border-radius: 40px;
    position: relative; /*Eğer bunu kullanmazsak turuncu nokta gri alanın içerisinde kalmaz*/
}

.test1 .check-btn {  /*Gri alan içerisindeki turuncu nokta kodu*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute; /*Bunu kullanmazsak aşağıdaki değerleri kullanıp turuncu noktayı istediğimiz yere getiremeyiz*/
    top: 5px;
    left: 5px;
}

label input:checked + .test1 { /*input checked olduğunda div classına sahip div kısmının arka plan rengi tomato olsun demektir*/
    background-color: tomato;
}

label input:checked + .test1 .check-btn { /*input checked olduğunda check-btn classına sahip etiketimin pozisyonu soldan 65px olsun demektir.Ayrıca arka plan rengi de beyaz olsun*/
    left:65px;
    background-color: white;
}

label input {
    display:none;
}

