::selection {       /*Bütün etiketlerin seçildiği vakit arka plan rengini mavi yazı rengini ise beyaz yapar*/

    background-color: blue;
    color: white;
}

p::selection {      /*Yalnızca seçilen paragrafların arka plan rengini kırmızı yazı rengini ise sarı yapar*/
  
    background-color: red;
    color: yellow;
}