p b {
    color: red;
}

p em { 

    color: yellow;
}

/*Yukarıdaki şekilde kullanılırsa bütün p etiketleri içindeki b ve em etiketleri etkilenir*/

h3 > b {  /*Çocuk seçimi > işareti ile gerçekleştirilir.*/

    color: red;
}

h3 > em {

    color: yellow;
}

/*Görüleceği üzere eğer bu şekilde kullanılırsa yalnızca ebeveyni h3 olan b ve em etiketi etkilenir*/
/*Yani bu örneğimizde birinci h3 oluyor. İkinci h3 de b ve em etiketlerinin ebeveynleri span etiketi olduğu için onlar etkilenmedi*/